/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


section {
    height: 100vh;
    background-color: rgb(228, 187, 112);
    font-family: sans-serif;
}

.score {
    color: white;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2 {
    font-size: 30px;
}

.score p {
    text-align: center;
    font-size: 25px;
}

.intro {
    color: white;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease 0.5s;
    opacity: 0;
}

.intro h1 {
    font-size: 50px;
}

.intro h1:hover {
    color: black;
}

.intro button, 
.match button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: rgb(228, 187, 112);
    font-size: 20px;
    background: rgb(69, 104, 74);
    cursor: pointer;
}

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: white;
    transition: opacity 0.5s ease 0.5s;
}

.winner-class {
    color: white;
    text-align: center;
    font-size: 50px;
    justify-content: center;
}

.winner-class:hover {
    color:black;
}

.hands, .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-hand {
    transform: rotateY(180deg);
}

/**Javascript components**/

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}